*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    
    font-family: 'Lato', sans-serif;
}

.banner-container{
    background-color: rgba(229, 84, 115, 0.1);
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 50px;
}

